@{
    ViewData["Title"] = "Movie List";
}

@model List<SubmissionResponse>

<table class="table table-bordered table-striped">

    <thead class="font-weight-bold">
        <tr>
            <td>Category</td>
            <td>Title</td>
            <td>Year</td>
            <td>Director First Name</td>
            <td>Director Last Name</td>
            <td>Rating</td>
            <td>Edited?</td>
            <td>Lent To</td>
            <td>Notes</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var m in Model)
            {
                <tr>
                    <td>@m.Category.CategoryName</td>
                    <td>@m.Title</td>
                    <td>@m.Year</td>
                    <td>@m.DirectorFirstName</td>
                    <td>@m.DirectorLastName</td>
                    <td>@m.Rating</td>
                    <td>@m.Edited</td>
                    <td>@m.LentTo</td>
                    <td>@m.Notes</td>

                    <td><a asp-controller="Home" asp-action="Edit" asp-route-submissionid="@m.SubmissionId">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="Delete" asp-route-submissionid="@m.SubmissionId">Delete</a></td>
                </tr>
            }
    </tbody>

</table>